#enter-main-cont {
  justify-content: flex-start;
}

.enter-form {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-input {
  font-size: 2.5rem;
}

.submit-btn {
  font-size: 1.7;
  margin-top: 1rem;
  width: 80px;
}

#bloque-inputs {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.signup-input {
  height: 2rem;
}

.sub-header {
  margin-top: 2rem;
}
