@font-face {
  font-family: ank;
  src: url(../assets/fonts/DOS_ANK30_.woff);
}

html {
  font-size: 18px;
  background-color: black;
}

body {
  background: url(../assets/images/stars.gif);
  min-height: 100vh;
  font-family: ank, monospace;
  color: whitesmoke;
}

a {
  all: unset;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-cont {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header {
  font-size: 5rem;
}
