body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-board {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 3px solid white;
  border-radius: 15px;
  padding: 15px;
}

#display-main-cont {
  flex: 7 0 auto;
}

#typing-main-cont {
  flex: 1 0 auto;
  text-align: start;
}
